.forgetformHolder{
    display: block;
    text-align: center;
    padding: 0px 200px;
}
.forgetHolder{
    width: 70%;
    padding: 50px;
    display: inline-block;
}
.forgetHolder h1{
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--themeColor);
}
.group_field{
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}
.group_field label{
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 3px;
    color: var(--lightColor);
}
.group_field label span{
    color: red;
}
.group_field input {
  width: 100%;
  /* border: 1px solid transparent; */
  box-shadow: var(--boxShadow);
  outline: none;
  text-shadow: none;
  border: none;
  padding: 5px 2px 5px 5px;
  /* border-bottom-color: var(--lightColor); */
  font-size: 12px;
  color: var(--themeColor);
  overflow: hidden;
  border-radius: 5px;
}
.group_field input:focus,
.group_field input:hover {
  background: #eee;
  /* box-shadow: 0px 5px 5px -5px rgba(0, 46, 59, 1); */
  box-shadow: 0px 3px 6px 1px rgba(0, 46, 59, 1);
  /* border-bottom: 1px solid var(--themeColor); */
}
/* Media Queries for responsive site layout */
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 999px) {
    .forgetformHolder {
        padding: 0px 0px;
    }
    .forgetHolder {
        width: 100%;
        padding: 50px;
        display: inline-block;
    }
    .forgetHolder h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 599px) {
    .group_field {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px;
    }
    .signupForm a.acc_link {
        float: left;
    }
    .forgetHolder {
        padding: 20px;
    }
    .forgetHolder h1 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .forgetformHolder .group_field button:nth-child(1) {
        margin-bottom: 10px;
        float: none;
    }
}